<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fatherType</key>
		<string>食品酒水</string>
		<key>childType</key>
		<array>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>type</key>
				<string>早午晚餐</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>type</key>
				<string>烟酒水</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>type</key>
				<string>水果零食</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherType</key>
		<string>衣服饰品</string>
		<key>childType</key>
		<array>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>type</key>
				<string>衣服裤子</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>type</key>
				<string>鞋帽包包</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>type</key>
				<string>化妆饰品</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherType</key>
		<string>居家物业</string>
		<key>childType</key>
		<array>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>type</key>
				<string>日常用品</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>type</key>
				<string>水电煤气</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>type</key>
				<string>房租</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>type</key>
				<string>物业管理</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>type</key>
				<string>维修保养</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherType</key>
		<string>行车交通</string>
		<key>childType</key>
		<array>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>type</key>
				<string>公共交通</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>type</key>
				<string>打车租车</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>type</key>
				<string>私家车费用</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fatherType</key>
		<string>交流通讯</string>
		<key>childType</key>
		<array>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>type</key>
				<string>座机费</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>type</key>
				<string>手机费</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>type</key>
				<string>上网费</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>type</key>
				<string>邮寄费</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
